* {
  box-sizing: border-box;
}
body {
  font-family: Inter, X-LocaleSpecific, sans-serif;
}
/* global classes */
.btn {
  font-weight: bold;
  background-color: #2e9cca;
  color: white;
  padding: 10px;
  font-size: 1em;
  margin-top: 15px;
}
.btn:hover {
  background-color: #29648a;
  cursor: pointer;
}
.btn-primary {
  font-weight: bold;
  background-color: #2e9cca;
  color: white;
  padding: 10px;
  font-size: 1em;
  margin-top: 15px;
  padding: 20px;
  margin-top: 30px;
  font-size: 1.6em;
}
.btn-primary:hover {
  background-color: #29648a;
  cursor: pointer;
}
.labeled-btn-container {
  display: grid;
  grid-template-columns: max-content;
}
.labeled-btn-container small {
  font-size: 1em;
  padding: 15px 5px;
  text-align: center;
}
.labeled-btn-container a {
  text-decoration: none;
  color: white;
}
.labeled-btn-container a:hover {
  text-decoration: underline;
}
/* components */
.hero {
  background-color: #25274d;
  height: 80vh;
  color: white;
}
.hero__content-container {
  display: grid;
  grid-template-columns: repeat(2, 660px);
  grid-gap: 20px;
  padding: 7% 15%;
}
.hero__content-container__title {
  font-size: 5em;
  max-width: 9em;
  font-weight: 1000;
  padding-bottom: 30px;
}
.hero__content-container__description {
  color: #aaabbb;
  font-size: 2em;
  max-width: 16em;
}
.hero__content-container__image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  margin: 20px 15%;
}
.content__item {
  text-align: center;
  padding: 50px;
}
.content__item__icon {
  color: #2e9cca;
  font-size: 5em;
}
.content__item__title {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 10px;
}
.content__item__description {
  font-size: 1.3em;
}
.footer {
  height: 100px;
  background-color: #25274d;
  padding: 0 10%;
}
.footer__social-media-list {
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  font-size: 2em;
}
.footer__social-media-list li {
  padding: 10px;
}
.footer__social-media-list__item {
  display: block;
}
.footer__social-media-list a {
  text-decoration: none;
  color: white;
}
.modal {
  font-size: 2em;
  padding: 40px;
  text-align: center;
}
.modal h1 {
  font-weight: bold;
}
.modal label {
  font-size: 1em;
  margin: 5px;
  color: gray;
}
.modal__mail-input {
  padding: 10px;
  font-size: 1em;
  margin: 10px;
  border-color: lightgray;
}
@media (max-width: 1400px) {
  .hero__content-container {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
  .hero__content-container .labeled-btn-container {
    justify-content: center;
  }
  .hero__content-container__description {
    font-size: 1.5em;
    max-width: 30em;
  }
  .hero__content-container__image {
    width: 0%;
  }
}
@media (max-width: 640px) {
  .hero {
    display: flex;
    flex: column;
    justify-content: center;
  }
  .hero__content-container {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
  .hero__content-container__title {
    font-size: 3em;
    max-width: 12em;
  }
  .hero__content-container__description {
    font-size: 1.5em;
    max-width: 20em;
  }
  .hero__content-container .labeled-btn-container {
    justify-content: center;
  }
  .hero__content-container__image img {
    width: 0%;
  }
  .content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 20px 5%;
  }
  .content__item {
    padding: 50px 0px;
  }
  .modal {
    font-size: 1.2em;
    text-align: center;
    display: block;
    padding: 10px;
  }
  .modal h1 {
    font-weight: bold;
  }
  .modal label {
    font-size: 0.8em;
    margin: 5px;
    color: gray;
  }
  .modal__mail-input {
    padding: 2px;
    font-size: 1em;
    margin: 5px;
    border-color: lightgray;
  }
}
@media (max-width: 420px) {
  .modal {
    font-size: 0.6em;
    padding: 10px;
  }
  .hero__content-container__title {
    font-size: 2.3em;
    max-width: 8em;
  }
  .hero__content-container__description {
    font-size: 1.2em;
    max-width: 14em;
  }
}
