@main-color: #25274d;

* {
  box-sizing: border-box;
}
/* mixins */
.background-gradient {
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #71b280,
    #134e5e 80%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #71b280,
    #134e5e 80%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  font-family: Inter, X-LocaleSpecific, sans-serif;
}
/* global classes */

.btn-primary {
  padding: 20px;
  margin-top: 30px;
  font-size: 1.6em;
  font-weight: bold;
  background-color: #2e9cca;
  color: white;
}

.btn-primary:hover {
  background-color: #29648a;
  cursor: pointer;
}

.labeled-btn-container {
  display: grid;
  grid-template-columns: max-content;
  small {
    font-size: 1em;
    padding: 15px 5px;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
}

/* components */
.hero {
  background-color: @main-color;
  height: 80vh;
  color: white;
  &__content-container {
    display: grid;
    grid-template-columns: 660px 660px;
    grid-gap: 20px;
    padding: 7% 15%;
    &__title {
      font-size: 5em;
      max-width: 9em;
      font-weight: 1000;
      padding-bottom: 30px;
    }
    &__description {
      color: #aaabbb;
      font-size: 2em;
      max-width: 16em;
    }
    &__image {
      background-image: url("../images/hero-image.png");
      background-size: cover;
      border-radius: 2%;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  margin: 0 15%;
  &__item {
    text-align: center;
    padding: 50px;
    &__icon {
      color: #2e9cca;
      font-size: 5em;
    }
    &__title {
      font-weight: bold;
      font-size: 2.5em;
      margin-bottom: 10px;
    }
    &__description {
      font-size: 1.3em;
    }
  }
}
