@main-color: #25274d;

* {
  box-sizing: border-box;
}
/* mixins */
.background-gradient {
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #71b280,
    #134e5e 80%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #71b280,
    #134e5e 80%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  font-family: Inter, X-LocaleSpecific, sans-serif;
}
/* global classes */

.btn-primary {
  padding: 20px;
  margin: 30px 0;
  font-size: 1.6em;
  font-weight: bold;
  background-color: #2e9cca;
  color: white;
}

.btn-primary:hover {
  background-color: #29648a;
  cursor: pointer;
}
/* components */
.hero {
  background-color: @main-color;
  height: 90vh;
  color: white;
  &__content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7% 15%;
    &__title {
      font-size: 5em;
      max-width: 9em;
      font-weight: 1000;
      padding-bottom: 30px;
    }
    &__description {
      color: #aaabbb;
      font-size: 2em;
      max-width: 16em;
    }
    &__btn-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__image {
      background-image: url("../images/hero-image.png");
      background-size: cover;
      border-radius: 2%;
    }
  }
}
