@main-color: #25274d;

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, X-LocaleSpecific, sans-serif;
}
/* global classes */

.btn {
  font-weight: bold;
  background-color: #2e9cca;
  color: white;
  padding: 10px;
  font-size: 1em;
  margin-top: 15px;
}

.btn:hover {
  background-color: #29648a;
  cursor: pointer;
}

.btn-primary {
  .btn();
  padding: 20px;
  margin-top: 30px;
  font-size: 1.6em;
}

.btn-primary:hover {
  background-color: #29648a;
  cursor: pointer;
}

.labeled-btn-container {
  display: grid;
  grid-template-columns: max-content;
  small {
    font-size: 1em;
    padding: 15px 5px;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
}

/* components */
.hero {
  background-color: @main-color;
  height: 80vh;
  color: white;
  &__content-container {
    display: grid;
    grid-template-columns: 660px 660px;
    grid-gap: 20px;
    padding: 7% 15%;
    &__title {
      font-size: 5em;
      max-width: 9em;
      font-weight: 1000;
      padding-bottom: 30px;
    }
    &__description {
      color: #aaabbb;
      font-size: 2em;
      max-width: 16em;
    }
    &__image {
      background-image: url("../images/hero-image.png");
      background-size: cover;
      border-radius: 2%;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  margin: 20px 15%;
  &__item {
    text-align: center;
    padding: 50px;
    &__icon {
      color: #2e9cca;
      font-size: 5em;
    }
    &__title {
      font-weight: bold;
      font-size: 2.5em;
      margin-bottom: 10px;
    }
    &__description {
      font-size: 1.3em;
    }
  }
}

.footer {
  height: 100px;
  background-color: @main-color;
  padding: 0 10%;
  &__social-media-list {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    font-size: 2em;
    li {
      padding: 10px;
    }
    &__item {
      display: block;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.modal {
  font-size: 2em;
  padding: 40px;
  text-align: center;
  h1 {
    font-weight: bold;
  }
  label {
    font-size: 1em;
    margin: 5px;
    color: gray;
  }
  &__mail-input {
    padding: 10px;
    font-size: 1em;
    margin: 10px;
    border-color: lightgray;
  }
}
